.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 157.5%;
  color: #3a3a3a;
  padding: 40px 0px;
}

.hr {
  height: 1px;
  width: 250px;
  background-color: #f47625;
  flex: 1;
}
.HeadingText {
  margin: 0 20px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 157.5%;
  /* or 47px */

  color: #3a3a3a;
}
.Description {
  width: 85%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 157.5%;
  /* or 32px */

  text-align: center;

  color: #6f6f6f;
  margin-bottom: 20px;
}
.highlighterList ul {
  display: flex;
  margin-bottom: 0px;
  align-items: center;
  justify-content: start;
  padding-left: 0px;
}
hr {
  color: rgb(235, 235, 235);
}

.highlighterList ul li {
  text-decoration: none;
  padding-bottom: 10px;
  margin-right: 20px;
  list-style: none;
  font-family: 'Poppins';
  font-style: normal;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #7e7e7e;
  /* identical to box height */
}
.highlighterList {
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  border-bottom: 1px solid #eeeeee;
}

.highlighterList ul li:hover {
  color: #f47625;
}
.active {
  color: #f47625 !important;
  border-bottom: 2px solid #f47625;
}

.FeatureContainer {
  /* padding: 16px 0px; */
  width: 80%;
  padding: 20px 20px;
  margin: 30px 0px;
  background: #ffffff;
  box-shadow: 0px 0px 40px 4px rgba(177, 177, 177, 0.25);
  border-radius: 30px;
}

@media only screen and (min-width: 1441px) {
  /* Large Size Devices */
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Default size devices */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Tablet size devices */
  .HeadingText {
    font-size: 23px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  /* Medium size devices */
  .rowTitle h2 {
    font-size: 1.3rem;
    color: #444444;
  }
  .HeadingText {
    font-size: 20px;
  }
  .highlighterList ul li {
    margin-right: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
  }
  .Description {
    font-size: 16px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  .header {
    font-weight: 500;
    font-size: 17px;
    line-height: 157.5%;
  }
  .FeatureContainer {
    width: 400px;
    height: 471px;
    padding: 10px;
    height: auto;
    max-width: 800px;
  }
  .HeadingText {
    font-size: 17px;
  }
  .hr {
    width: 60px;
  }
  .Description {
    font-size: 12px;
  }
  .rowTitle h2 {
    font-size: 1.3rem;
    color: #444444;
  }
  .highlighterList ul li {
    font-size: 0.8rem;
    padding-right: 0.5rem;
  }
}

@media only screen and (max-width: 425px) {
  /* Small devices */
  .HeadingText {
    font-size: 15px;
  }
  .rowTitle h2 {
    font-size: 1.5rem;
    color: #444444;
  }
  .highlighterList ul li {
    font-size: 0.8rem;
    padding-right: 0.5rem;
  }
  .highlighterList {
    overflow-x: auto;
  }
}
