.row{
    width:85%;
}
.rowTitle h2{
    font-size: 1.5rem;
    color: #444444;
} 
.highlighterList ul{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 0px;
}
hr{   
    color: rgb(235, 235, 235);
}
.highlighterList ul li { 
    text-decoration: none;
    padding-right: 20px;
    list-style: none;
    cursor: pointer;
    font-family: sans-serif;
    color: #444444;
    font-size: 1rem;
    font-weight: 550;
}
.highlighterList{
    padding-bottom: 0px;
    /* position: relative; */
}
.FeatureContainer{
    padding: 16px 0px;
}


@media only screen and (min-width: 1441px) {
    /* Large Size Devices */
  
    
  
  }
  @media only screen and (min-width: 1025px) and (max-width: 1440px){
    /* Default size devices */

  
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px){
      /* Tablet size devices */
      
    
    
    }
    
    @media only screen and (min-width: 426px) and (max-width: 768px) {
      /* Medium size devices */
      .rowTitle h2{
        font-size: 1.3rem;
        color: #444444;
      } 
      .highlighterList ul li{
       font-size: 0.8rem;
       padding-right: 0.5rem;
     }
     
     
    }
    
    @media only screen and (max-width: 425px) {
      /* Small devices */
      .rowTitle h2{
        font-size: 1.5rem;
        color: #444444;
      } 
      .highlighterList ul li{
        font-size: 0.8rem;
        padding-right: 0.5rem;
      }
      .highlighterList{
        overflow-x: auto;
      }
    
    }