.wrapper {
  width: 85%;
  padding: 10px 0px;
}
.header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 157.5%;
  /* or 47px */
  padding: 30px 0px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #000000;
}
.hr {
  height: 1px;
  width: 250px;
  background-color: #f47625;
}
.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: start;
}

.Grey_BackgroundBox {
  background-color: rgb(245, 245, 245);
  /* background-color: tomato; */
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.White_BackgroundBox {
  background-color: #fff;
  /* background-color: tomato; */
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.subHeader {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 157.5%;
  /* identical to box height, or 35px */

  color: #000000;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-bottom: 30px;
}
.content li {
  list-style: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 157.5%;
  padding: 0.2rem 0px;
  cursor: pointer;
  /* identical to box height, or 35px */

  text-decoration-line: underline;

  color: #3e5cfc;
}
.content ul {
  color: rgb(17, 76, 214);
  text-decoration: none;
  margin-top: 12px;
  font-size: 14px;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: inherit;
  font-family: sans-serif;
  padding-left: 0px;
}
@media only screen and (min-width: 1441px) {
  /* Large Size Devices */
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Default size devices */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Tablet size devices */

  .content {
    width: 33.33%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  /* Medium size devices */

  .content {
    width: 50%;
  }
  /* .container {
    justify-content: center;
  } */
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  /* Medium size devices */

  .content {
    width: 50%;
  }
  .container {
    justify-content: start;
  }
  .header {
    font-weight: 500;
    font-size: 17px;
    line-height: 157.5%;
    margin-bottom: 40px;
    padding: 20px 0px 40px 0px;
    margin: 0px;
  }
  .hr {
    width: 120px;
  }
  .subHeader {
    font-weight: 500;
    font-size: 12px;
    line-height: 157.5%;
  }
  .content li {
    font-weight: 400;
    font-size: 11px;
    line-height: 157.5%;
  }
}

@media only screen and (max-width: 399px) {
  /* Small devices */

  .content {
    width: 100%;
  }
  .container {
    justify-content: center;
  }
}
